body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background: transparent !important;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    color: white !important;
}

.navbar a,
.navbar .navbar-brand,
.navbar .nav-link,
.navbar .dropdown-toggle {
    color: white !important;
}

.feature-icon {
    font-size: 3rem;
    color: #007bff;
}

.logo{
    height: 30px;
    width: auto;
    
}

.hero {
    position: relative;
    padding: 8rem 0;
    overflow: hidden;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translateX(-50%) scale(1);
    background: url('/asset/bg.jpg') no-repeat center top;
    background-size: cover;
    filter: blur(6px);
    z-index: -2;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

.hero h1,
.hero p {
    color: white;
}

.btn-light {
    background-color: #309689 !important;
    border-color: #309689 !important;
    color: white !important;
}

.btn-outline-light {
    border-color: #309689 !important;
}

.btn-outline-light:hover {
    background-color: #309689 !important;
    color: white !important;
}

.btn-register {
    background-color: #309689 !important;
    border: none;
    color: white !important;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.feature-icon {
    color: #309689 !important;
}

.footer {
   background-color: #309689;
   width: 100%;
   color: white;
   padding: 20px 0;
   margin-top: auto;
   position: fixed;
   left: 0;
   bottom: 0;
}

.footer-text {
   font-size: 18px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
}